DATABASE_URL=
REDIS_URL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=

RENDER_API_KEY=
RENDER_SERVICE_ID=

MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_BACK_URL=

PUBLIC_API_KEY=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
SUPPORT_EMAIL=